<div ng-controller="headerCtrl" class="header">
    <ul class="nav nav-pills pull-right">
        <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="job">Jobs</a>
        </li>
        <li ng-hide="isAuthenticated" ui-sref-active="active">
            <a ui-sref="register">Register</a>
        </li>
        <li ng-show="isAuthenticated" ui-sref-active="active">
            <a ui-sref="logout">Logout</a>
        </li>
    </ul>
    <h3>JWT Login</h3>
</div>