<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-superhero.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="app.js"></script>
    <script src="app.config.js"></script>
    <script src="directive/validateEquals.js"></script>
    <script src="controllers/registerCtrl.js"></script>
    <script src="services/authtoken.js"></script>
    <script src="services/alert.js"></script>
    <script src="controllers/headerCtrl.js"></script>
    <script src="controllers/logoutCtrl.js"></script>
    <script src="controllers/jobCtrl.js"></script>
</head>
<body ng-app="myApp">
    <div class="container" ng-cloak>
        <div ng-include="'views/header.html'"></div>
        <div ui-view></div>
        <div class="alert alert-{{alert.type}} animated main-alert" ng-class="{'flipInY': alert.show, 'flipOutY': !alert.show, 'alert-hidden': !alert.hasBeenShown}"><strong>{{alert.title}}</strong>{{alert.message}}</div>
    </div>


</body>
</html>